<div class="main">
  <button class="previous-button" (click)="previousPage()"> Previous page</button>
  <button class="next-button" (click)="nextPage()"> Next page</button>
  <div class="header">
    <h2>List of characters</h2>
  </div>
  <div class="content" *ngIf="characters">
    <div class="card" *ngFor="let character of characters">
      <div class="left">
        <img src="{{ character.image }}" alt="">
      </div>
      <div class="right">
        <h2> {{ character.name }}</h2>
      </div>
    </div>
  </div>
</div>